extends layout
block append main
 ol.articles
  - var i = 1;
  each article in posts
    li.articles__article(style="--animation-order:" + i)
      a.articles__link(href="/article/" + article.id) 
        div.articles__content.articles__content--lhs
          h2.articles__title !{article.Title}
          h4 
           img.card_img(src=article.Image)
           p=article.Summary
           
          div.articles__footer           
            p=article.Author
            time=article.Date

        div.articles__content.articles__content--rhs(aria-hidden="true")
          h2.articles__title !{article.Title}
          h4 
           img.card_img(src=article.Image)
           p=article.Summary
           
          div.articles__footer
            p=article.Author
            time=article.Date
            
    - i++;
 